<%= content_for :title do %>Subir y redimensionar las imágenes<% end %>
<br>
<% if File.exist?(@file) %>
	<p><%= link_to "Download file (#{@file.size} kB)", uploads_download_path %></p>
<% else %>
	<p>No hay ningún archivo para descargar.</p>
<% end %>

<p><%= link_to "Back", new_upload_path %></p>