<%= content_for :title do %>Subir y redimensionar las im치genes<% end %>
<h3>Subir y redimensionar las im치genes</h3>
<p>App te redimensiona las im치genes en los tama침os 390x260px, 600x400px y 1185x1185px y te las guarda en las carpetas small/large/xlarge y comprime en .zip</p>

<%= form_for @upload do |f| %>
	<%= f.file_field :image, multiple: true %>
	<%= f.submit "Enviar", class: 'submit' %>
<% end %>