<%# add navigation links to this file %>
<li class="has-dropdown">
  <a href="#">Imágenes</a>
  <ul class="dropdown">
    <%= nav_active('new', 'uploads', 'active').html_safe %><%= link_to "Redimensionar", new_upload_path %></li>
    <%= nav_active('new', 'optimizes', 'active').html_safe %><%= link_to "Optimizar", new_optimize_path %></li>
  </ul>
</li>